@model MyyCommerce.Models.ProdutoViewModel;
@{
    ViewData["Title"] = "_ProdutoTablePartial";
}


<div class="table-responsive" id="form-div-produto">
    <table class="table table-striped tablecenter">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Ativo</th>
                <th>Gênero</th>
                <th>Qtd. Estoque</th>
                <th class="columnAction">Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model.Produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Valor</td>
                    @if (produto.Ativo)
                    {
                        <td>Ativo</td>
                    }
                    else
                    {
                        <td>Inativo</td>
                    }
                    <td>@produto.Genero</td>
                    <td>@produto.QtdEstoque</td>

                    <td class="columnActionBtn">
                        <label class="btn btn-primary btn-xs SlowEditBtn" data-id="@produto.Id" data-toggle="modal" data-target="#modalProduto-add"><span>Editar </span></label>
                        <label data-id="@produto.Id" class="btn btn-primary btn-xs SlowDeleteBtn"><span><i class="fa fa-trash-o"></i> </span></label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row filterRow">
        <div class="col-sm-6">
            <div class="dataTables_info" id="dynamic-table_info">Mostrando @(Model.Pager.TotalItems > 0 ? (((Model.Pager.CurrentPage - 1) * Model.Pager.PageSize) + 1).ToString() : "0") até @(Model.Pager.CurrentPage != Model.Pager.TotalPages && Model.Pager.PageSize < Model.Pager.TotalItems ? (Model.Pager.CurrentPage) * Model.Pager.PageSize : Model.Pager.TotalItems) de @Model.Pager.TotalItems itens</div>
        </div>
        <div class="col-sm-6">
            <div class="dataTables_paginate paging_bootstrap pagination" style="padding-top:0px">
                <ul>
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a href="~/@ViewContext.RouteData.Values["Controller"]?page=@(Model.Pager.CurrentPage - 1)">←</a>
                        </li>
                        <li>
                            <a href="~/@ViewContext.RouteData.Values["Controller"]">1</a>
                        </li>
                    }
                    else
                    {
                        <li class="active">
                            <a href="~/@ViewContext.RouteData.Values["Controller"]">1</a>
                        </li>
                    }

                    @for (var pagerPage = Model.Pager.CurrentPage - 3; pagerPage <= Model.Pager.CurrentPage + 3; pagerPage++)
                    {
                        if (pagerPage > 1 && pagerPage <= Model.Pager.TotalPages)
                        {
                            <li class="@(pagerPage == Model.Pager.CurrentPage ? "active" : "")">
                                <a href="~/@ViewContext.RouteData.Values["Controller"]?page=@pagerPage">@pagerPage</a>
                            </li>
                        }
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li class="next">
                            <a href="~/@ViewContext.RouteData.Values["Controller"]?page=@(Model.Pager.CurrentPage + 1)"> → </a>
                        </li>
                        <li>
                            <a href="~/@ViewContext.RouteData.Values["Controller"]?page=@(Model.Pager.TotalPages)">Última</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>


    <form asp-action="Adicionar" asp-controller="Produto" id="regForm" method="POST" enctype="multipart/form-data">
        <div class="modal inmodal" id="modalProduto-add" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content animated bounceInRight">
                    <div id="form-partial">
                        <partial name="_ProdutoFormPartial" model="@new MyyCommerce.Models.ProdutoFormModel() { Produto = new MyyCommerce.Domain.Produto() }" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
     function getConfirmation() {
        var retVal = confirm("Tem certeza que deseja remover esse Produto?");
        if (retVal == true) {
            return true;
        }
        else {
            return false;
        }
     }

     $('.SlowDeleteBtn').click(function () {
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');

        if (getConfirmation()) {
            $.ajax({
                url: '@Url.Action("Deletar", "Produto")',
                type: 'GET',
                data: { id: id },
                success: function (partialView) {
                    $('#form-div-produto').html(partialView);
                }
            });
        }
     });


    $('.SlowEditBtn').click(function () {
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');

            $.ajax({
                url: '@Url.Action("OpenExisting", "Produto")',
                type: 'GET',
                data: { id: id },
                success: function (partialView) {
                    $('#form-partial').html(partialView);
                }
            });
     });

</script>