@model MyyCommerce.Models.CheckoutViewModel;
@using Microsoft.AspNetCore.Identity
@using MyyCommerce.Domain
@using MyyCommerce.Models
@using System.Security.Claims;
@using MyyCommerce.Data;
@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser cliente = db.Users.Where(x => x.TipoUser == MyyCommerce.Utils.Enums.eTipoUser.Cliente &&  x.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier)).FirstOrDefault();
}

<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<link href="~/assets/toastr-master/toastr.css" rel="stylesheet" type="text/css" />
<script src="~/assets/toastr-master/toastr.js"></script>

<form action="/Checkout/FazerCheckout" method="post" id="formCheckout">
    <div class="row">
        <div class="col-md-12">
            <!-- page start-->
            <section class="card">
                <header class="card-header">
                    Carrinho
                </header>
                <div class="card-body">
                    <div class="table-responsive" id="CheckoutProdutosDiv">
                        <partial name="_CheckoutProdutosPartial" model="Model" />
                    </div>
                </div>
            </section>
            <!-- page end-->
        </div>
    </div>
    <input asp-for="ValorTotal" style="display:none" />
    <input asp-for="PrecoEntrega" style="display:none" />
    <input asp-for="PrecoFinal" style="display:none" />
    <!-- page start-->
    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <header class="card-header">
                    Informações de Pagamento
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Número do cartão</label>
                        <input class="form-control" asp-for="NumeroCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="width:100%">Vencimento do cartão</label>
                        <select class="form-control col-sm-6" asp-for="ValidadeCartaoMes" style="width:45%;display:inline-block" required="required">
                            <option value="">Mês</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select class="form-control col-sm-6" asp-for="ValidadeCartaoAno" style="width:45%;display:inline-block" required="required">
                            <option value="">Ano</option>
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option value="@DateTime.Now.AddYears(i).Year">@DateTime.Now.AddYears(i).Year</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">CVV do cartão</label>
                        <input class="form-control" asp-for="CvvCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome Portador</label>
                        <input class="form-control" asp-for="NomeCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cpf Portador</label>
                        <input class="form-control" asp-for="CpfCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Dt. Nascimento Portador</label>
                        <input class="form-control date-picker" asp-for="DataNascimentoCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Telefone Portador</label>
                        <input class="form-control" asp-for="TelefoneCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cep</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="CepPagamento" required="required">
                            <div class="input-group-append">
                                <span class="input-group-text" style="cursor:pointer" id="buscaCepPagamentoBtn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Estado</label>
                        <select class="form-control" asp-for="EstadoPagamento" required="required">
                            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cidade</label>
                        <input class="form-control" asp-for="CidadePagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Bairro</label>
                        <input class="form-control" asp-for="BairroPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input class="form-control" asp-for="EnderecoPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Número</label>
                        <input class="form-control" asp-for="NumeroPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Complemento</label>
                        <input class="form-control" asp-for="ComplementoPagamento">
                    </div>
                    <table>
                        <tr>
                            <td>Produtos</td>
                            <td>R$ @Model.ValorTotal.ToString("n2")</td>
                        </tr>
                        <tr>
                            <td>Entrega</td>
                            <td id="PrecoEntregaCell">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="PrecoFinalCell">R$ @Model.PrecoFinal.ToString("n2")</td>
                        </tr>
                    </table>

                </div>
            </section>
        </div>
        <div class="col-md-6 ">
            <section class="card">
                <header class="card-header">
                    Informações de Entrega
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tipo de entrega</label>
                        <select class="form-control" asp-for="TipoEntrega" asp-items="Html.GetEnumSelectList(typeof(MyyCommerce.Utils.Enums.eTipoEntrega))" onchange="changeDeliveryType()"></select>
                    </div>
                    <label class="text-center enderecoGroup" style="display:none;color:darkorange;width:100%">
                        Importante se certificar de que haverá alguém pra receber
                        o pedido na portaria.
                    </label>
                    <label class="text-center lblBairroInvalido" style="display:none;color:red;width:100%">
                        Infelizmente não estamos entregando no seu bairro no momento!
                    </label>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Cep</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="CepEntrega">
                            <div class="input-group-append">
                                <span class="input-group-text" style="cursor:pointer" id="buscaCepBtn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Bairro</label>
                        <input class="form-control" asp-for="BairroEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input class="form-control" asp-for="EnderecoEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="NumEntrega">Num. Entrega</label>
                        <input class="form-control" asp-for="NumEntrega" autocomplete="new-password">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Complemento</label>
                        <input class="form-control" asp-for="ComplementoEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Observação</label>
                        <input class="form-control" asp-for="Observacao">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Data da Entrega</label>
                        <input class="form-control" asp-for="DataEntrega" value="@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy")" readonly="readonly">
                    </div>
                    <button class="btn btnSlow" type="submit" style="float:right"><i class="fa fa-dollar"></i> Finalizar Compra</button>
                </div>
            </section>
            <!-- page end-->
        </div>

    </div>
</form>

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    $('.date-picker').datepicker({
        autoclose: true,
        format: 'dd/mm/yyyy',
        dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S']
    });

    $('.removerProdutoBtn').click(function () {
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');

        let foo = prompt('Quantos você deseja remover?');
            $.ajax({
        url: '@Url.Action("RemoverProduto", "Checkout")',
                type: 'GET',
                data: { id: id, Quantidade: foo },
                success: function (partialView) {
                    $('#CheckoutProdutosDiv').html(partialView);
            }
        });

    });


    function changeDeliveryType() {
        var index = document.getElementById('TipoEntrega').selectedIndex;
        if(index == 2)
        {
            $('#PrecoFinal').val("10");
            $('#PrecoEntregaCell').val("R$ 10,00");
            $(".enderecoGroup").show();
        }
        else
        {
            $('#PrecoFinal').val("0");
            $('#PrecoEntregaCell').val("R$ 0,00");
            $(".enderecoGroup").hide();
        }
        $('#PrecoFinal').val(parseFloat($('#PrecoFinal').val()) + parseFloat($('#PrecoFinal').val()));
        $('#PrecoFinalCell').val("R$ " + $('#PrecoFinal').val);
    }

    $("#buscaCepBtn").click(function () {
        //Início do Comando AJAX
        $.ajax({
        //O campo URL diz o caminho de onde virá os dados
        //É importante concatenar o valor digitado no CEP
        url: 'https://viacep.com.br/ws/' + $('#CepEntrega').val() + '/json/unicode/',
            //Aqui você deve preencher o tipo de dados que será lido,
            //no caso, estamos lendo JSON.
            dataType: 'json',
            //SUCESS é referente a função que será executada caso
            //ele consiga ler a fonte de dados com sucesso.
            //O parâmetro dentro da função se refere ao nome da variável
            //que você vai dar para ler esse objeto.
            success: function (resposta) {
                if(resposta.bairro != "Glória" && resposta.bairro != "Catete" && resposta.bairro != "Flamengo" && resposta.bairro != "Laranjeiras" && resposta.bairro != "Humaitá" && resposta.bairro != "Botafogo" && resposta.bairro != "Urca" && resposta.bairro !=  "Copacabana" && resposta.bairro != "Leme" && resposta.bairro != "Ipanema" && resposta.bairro != "Leblon" && resposta.bairro != "Gávea" && resposta.bairro != "Jardim Botânico" && resposta.bairro != "Lagoa")
                {
                     $(".lblBairroInvalido").show();
                }
                $("#EstadoPagamento").val(resposta.uf);
                $("#CidadePagamento").val(resposta.localidade);
                $("#BairroPagamento").val(resposta.bairro);
                $("#EnderecoPagamento").val(resposta.logradouro);
                $("#NumeroPagamento").focus();
            },
            error: function() {
                toastr["warning"]("Cep não encontrado!")
            }
        });
    });

    $("#CepPagamento").change(function () {
        $("#CepEntrega").val($('#CepPagamento').val());
    });

    $("#BairroPagamento").change(function () {
        if ($('#BairroPagamento').val() != 'Glória' && $('#BairroPagamento').val() != 'Catete' && $('#BairroPagamento').val() != 'Flamengo' && $('#BairroPagamento').val() != 'Laranjeiras' && $('#BairroPagamento').val() != 'Humaitá' && $('#BairroPagamento').val() != 'Botafogo' && $('#BairroPagamento').val() != 'Urca' && $('#BairroPagamento').val() != 'Copacabana' && $('#BairroPagamento').val() != 'Leme' && $('#BairroPagamento').val() != 'Ipanema' && $('#BairroPagamento').val() != 'Leblon' && $('#BairroPagamento').val() != 'Gávea' && $('#BairroPagamento').val() != 'Jardim Botânico' && $('#BairroPagamento').val() != 'Lagoa')
        {
           $(".lblBairroInvalido").show();
        }

        $("#BairroEntrega").val($('#BairroPagamento').val());
    });

    $("#EnderecoPagamento").change(function () {
        $("#EnderecoEntrega").val($('#EnderecoPagamento').val());
    });

    $("#NumeroPagamento").change(function () {
        $("#NumEntrega").val($('#NumeroPagamento').val());
    });

    $("#ComplementoPagamento").change(function () {
        $("#ComplementoEntrega").val($('#ComplementoEntrega').val());
    });

    $("#buscaCepPagamentoBtn").click(function () {
        //Início do Comando AJAX
        $.ajax({
        //O campo URL diz o caminho de onde virá os dados
        //É importante concatenar o valor digitado no CEP
        url: 'https://viacep.com.br/ws/' + $('#CepPagamento').val() + '/json/unicode/',
            //Aqui você deve preencher o tipo de dados que será lido,
            //no caso, estamos lendo JSON.
            dataType: 'json',
            //SUCESS é referente a função que será executada caso
            //ele consiga ler a fonte de dados com sucesso.
            //O parâmetro dentro da função se refere ao nome da variável
            //que você vai dar para ler esse objeto.
            success: function (resposta) {
                console.log(resposta);
                $("#EstadoPagamento").val(resposta.uf);
                $("#CidadePagamento").val(resposta.localidade);
                $("#BairroEntrega").val(resposta.bairro);
                $("#BairroPagamento").val(resposta.bairro);
                $("#EnderecoEntrega").val(resposta.logradouro);
                $("#EnderecoPagamento").val(resposta.logradouro);
                $("#NumEntrega").focus();
            },
            error: function() {
                toastr["warning"]("Cep não encontrado!")
            }
        });
    });

    @*var PagseguroSession = '@Model.PagseguroSession';
    var formsubmitted = false;
    console.log(PagseguroSession);
    PagSeguroDirectPayment.setSessionId(PagseguroSession);

    var produtoList = '@Html.Raw(Model.ProdutoString)';
    console.log(produtoList);

    var senderName = '@Html.Raw(cliente.Nome != null ? cliente.Nome + " " + cliente.Sobrenome : "")';
    var senderTelefone = '@Html.Raw(cliente.Telefone)';
    var senderEmail = '@Html.Raw(cliente.Email)';*@

    $("#formCheckout").on("submit", function (e) {
        e.preventDefault();

        var cardBrand = '';
        PagSeguroDirectPayment.getBrand({
        cardBin: $('#NumeroCartao').val().substring(0, 6),
                success: function(response) {
                //bandeira encontrada
                cardBrand = response.brand.name;
                console.log(response.brand.name)




        var creditCardHash = '';
        PagSeguroDirectPayment.createCardToken({
            cardNumber: $('#NumeroCartao').val(), // Número do cartão de crédito
            brand: cardBrand, // Bandeira do cartão
            cvv: $('#CvvCartao').val(), // CVV do cartão
            expirationMonth: $('#ValidadeCartaoMes').val(), // Mês da expiração do cartão
            expirationYear: $('#ValidadeCartaoAno').val(), // Ano da expiração do cartão, é necessário os 4 dígitos.
               success: function(response) {
                // Retorna o cartão tokenizado.
                creditCardHash = response.card.token;
                console.log('cardHash = ' + creditCardHash);

                var senderHash = '';
                PagSeguroDirectPayment.onSenderHashReady(function(response){
                    if(response.status == 'error') {
                        console.log(response.message);
                        return false;
                    }
                    senderHash = response.senderHash; //Hash estará disponível nesta variável.
                    console.log('senderHash = ' + senderHash);
                    console.log($('#PrecoFinal').val());
                    PagSeguroDirectPayment.getInstallments({
                            amount: $('#PrecoFinal').val(),
                            maxInstallmentNoInterest: 2,
                            brand: cardBrand,
                            success: function(response){
       	                        // Retorna as opções de parcelamento disponíveis

                                 console.log(response);
                                    if(formsubmitted !== true)
                                    {
                                        formsubmitted = true;
                                        $.ajax({
                                        type: "POST",
                                        url: '@Url.Action("FazerCheckout", "Checkout")',
                                        data: $('#formCheckout').serialize() + '&senderHash=' + senderHash + '&creditCardToken=' + creditCardHash,
                                            success: function (resposta) {
                                                console.log(resposta);
                                                window.location.replace("/Checkout/ConfirmarCompra/" + resposta);
                                            },
                                            error: function(erro) {
                                                console.log(erro)
                                                formsubmitted = false;
                                            }
                                        });
                                   }
                           },
                            error: function(response) {
       	                        console.log(response);
                           },
                            complete: function(response){
                                // Callback para todas chamadas.
                           }
                    });


                });
            },
               error: function(response) {
                // Callback para chamadas que falharam.
            },
               complete: function(response) {
                // Callback para todas chamadas.
            }
        });

     },
                error: function(response) {
                //tratamento do erro
            },
                        complete: function(response) {
                        //tratamento comum para todas chamadas
                    }
                });

    });
</script>