@model MyyCommerce.Models.CheckoutViewModel;
@using Microsoft.AspNetCore.Identity
@using MyyCommerce.Domain
@using MyyCommerce.Models
@using System.Security.Claims;
@using MyyCommerce.Data;
@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ApplicationUser cliente = db.Users.Where(x => x.TipoUser == MyyCommerce.Utils.Enums.eTipoUser.Cliente &&  x.Id == this.User.FindFirstValue(ClaimTypes.NameIdentifier)).FirstOrDefault();
}

<script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
<link href="~/assets/toastr-master/toastr.css" rel="stylesheet" type="text/css" />
<script src="~/assets/toastr-master/toastr.js"></script>

<form method="post" id="formCheckout">
    <div class="row">
        <div class="col-md-12">
            <!-- page start-->
            <section class="card">
                <header class="card-header">
                    Carrinho
                </header>
                <div class="card-body">
                    <div class="table-responsive" id="CheckoutProdutosDiv">
                        <partial name="_CheckoutProdutosPartial" model="Model" />
                    </div>
                </div>
            </section>
            <!-- page end-->
        </div>
    </div>
    <input asp-for="ValorTotal" style="display:none" />
    <input asp-for="PrecoEntrega" style="display:none" />
    <input asp-for="PrecoFinal" style="display:none" />
    <!-- page start-->
    <div class="row">
        <div class="col-md-6">
            <section class="card">
                <header class="card-header">
                    Informações de Pagamento
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Número do cartão</label>
                        <input class="form-control" asp-for="NumeroCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" style="width:100%">Vencimento do cartão</label>
                        <select class="form-control col-sm-6" asp-for="ValidadeCartaoMes" style="width:45%;display:inline-block" required="required">
                            <option value="">Mês</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <select class="form-control col-sm-6" asp-for="ValidadeCartaoAno" style="width:45%;display:inline-block" required="required">
                            <option value="">Ano</option>
                            @for (int i = 0; i <= 10; i++)
                            {
                                <option value="@DateTime.Now.AddYears(i).Year">@DateTime.Now.AddYears(i).Year</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">CVV do cartão</label>
                        <input class="form-control" asp-for="CvvCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nome Portador</label>
                        <input class="form-control" asp-for="NomeCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cpf Portador</label>
                        <input class="form-control" asp-for="CpfCartao" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cep</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="CepPagamento" required="required">
                            <div class="input-group-append">
                                <span class="input-group-text" style="cursor:pointer" id="buscaCepPagamentoBtn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Estado</label>
                        <select class="form-control" asp-for="EstadoPagamento" required="required">
                            <option value="">Selecione</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Cidade</label>
                        <input class="form-control" asp-for="CidadePagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Bairro</label>
                        <input class="form-control" asp-for="BairroPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input class="form-control" asp-for="EnderecoPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Número</label>
                        <input class="form-control" asp-for="NumeroPagamento" required="required">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Complemento</label>
                        <input class="form-control" asp-for="ComplementoPagamento">
                    </div>
                    <table>
                        <tr>
                            <td>Produtos</td>
                            <td>R$ @Model.ValorTotal.ToString("n2")</td>
                        </tr>
                        <tr>
                            <td>Entrega</td>
                            <td id="PrecoEntregaCell">R$ 0,00</td>
                        </tr>
                        <tr>
                            <td>Total</td>
                            <td id="PrecoFinalCell">R$ @Model.PrecoFinal.ToString("n2")</td>
                        </tr>
                    </table>

                </div>
            </section>
        </div>
        <div class="col-md-6 ">
            <section class="card">
                <header class="card-header">
                    Informações de Entrega
                </header>
                <div class="card-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Tipo de entrega</label>
                        <select class="form-control" asp-for="TipoEntrega" asp-items="Html.GetEnumSelectList(typeof(MyyCommerce.Utils.Enums.eTipoEntrega))" onchange="changeDeliveryType()"></select>
                    </div>
                    <label class="text-center enderecoGroup" style="display:none;color:darkorange;width:100%">
                        Importante se certificar de que haverá alguém pra receber
                        o pedido na portaria.
                    </label>
                    <label class="text-center lblBairroInvalido" style="display:none;color:red;width:100%">
                        Infelizmente não estamos entregando no seu bairro no momento!
                    </label>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Cep</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="CepEntrega">
                            <div class="input-group-append">
                                <span class="input-group-text" style="cursor:pointer" id="buscaCepBtn"><i class="fa fa-search"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Bairro</label>
                        <input class="form-control" asp-for="BairroEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Endereço</label>
                        <input class="form-control" asp-for="EnderecoEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="NumEntrega">Num. Entrega</label>
                        <input class="form-control" asp-for="NumEntrega" autocomplete="new-password">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Complemento</label>
                        <input class="form-control" asp-for="ComplementoEntrega">
                    </div>
                    <div class="form-group enderecoGroup" style="display:none">
                        <label for="exampleInputEmail1">Observação</label>
                        <input class="form-control" asp-for="Observacao">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Data da Entrega</label>
                        <input class="form-control" asp-for="DataEntrega" value="@DateTime.Now.AddDays(1).ToString("dd/MM/yyyy")" readonly="readonly">
                    </div>
                    <button class="btn btnSlow" type="submit" style="float:right"><i class="fa fa-dollar"></i> Finalizar Compra</button>
                </div>
            </section>
            <!-- page end-->
        </div>

    </div>
</form>

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };



    $('.removerProdutoBtn').click(function () {
        var $buttonClicked = $(this);
        var id = $buttonClicked.attr('data-id');

        var foo = prompt('Quantos você deseja remover?');
        $.ajax({
            url: '@Url.Action("RemoverProduto", "Checkout")',
                type: 'GET',
                data: { id: id, Quantidade: foo },
                success: function (partialView) {
                    $('#CheckoutProdutosDiv').html(partialView);
                }
        });

    });


    function changeDeliveryType() {
        var index = document.getElementById('TipoEntrega').selectedIndex;
        if(index == 2)
        {
            $('#PrecoFinal').val("10");
            $('#PrecoEntregaCell').val("R$ 10,00");
            $(".enderecoGroup").show();
        }
        else
        {
            $('#PrecoFinal').val("0");
            $('#PrecoEntregaCell').val("R$ 0,00");
            $(".enderecoGroup").hide();
        }
        $('#PrecoFinal').val(parseFloat($('#PrecoFinal').val()) + parseFloat($('#PrecoFinal').val()));
        $('#PrecoFinalCell').val("R$ " + $('#PrecoFinal').val);
    }

    $("#buscaCepBtn").click(function () {
        $.ajax({
        url: 'https://viacep.com.br/ws/' + $('#CepEntrega').val() + '/json/unicode/',
            success: function (resposta) {
                $("#EstadoPagamento").val(resposta.uf);
                $("#CidadePagamento").val(resposta.localidade);
                $("#BairroPagamento").val(resposta.bairro);
                $("#EnderecoPagamento").val(resposta.logradouro);
                $("#NumeroPagamento").focus();
            },
            error: function() {
                toastr["warning"]("Cep não encontrado!")
            }
        });
    });

    $("#CepPagamento").change(function () {
        $("#CepEntrega").val($('#CepPagamento').val());
    });

    $("#BairroPagamento").change(function () {
        $("#BairroEntrega").val($('#BairroPagamento').val());
    });

    $("#EnderecoPagamento").change(function () {
        $("#EnderecoEntrega").val($('#EnderecoPagamento').val());
    });

    $("#NumeroPagamento").change(function () {
        $("#NumEntrega").val($('#NumeroPagamento').val());
    });

    $("#ComplementoPagamento").change(function () {
        $("#ComplementoEntrega").val($('#ComplementoEntrega').val());
    });

    $("#buscaCepPagamentoBtn").click(function () {
        $.ajax({
        url: 'https://viacep.com.br/ws/' + $('#CepPagamento').val() + '/json/unicode/',
            dataType: 'json',
            success: function (resposta) {
                console.log(resposta);
                $("#EstadoPagamento").val(resposta.uf);
                $("#CidadePagamento").val(resposta.localidade);
                $("#BairroEntrega").val(resposta.bairro);
                $("#BairroPagamento").val(resposta.bairro);
                $("#EnderecoEntrega").val(resposta.logradouro);
                $("#EnderecoPagamento").val(resposta.logradouro);
                $("#NumEntrega").focus();
            },
            error: function() {
                toastr["warning"]("Cep não encontrado!")
            }
        });
    });


    $("#formCheckout").on("submit", function (e) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("FazerCheckout", "Checkout")',
            data: $('#formCheckout').serialize(),
            success: function (resposta) {
                console.log(resposta);
                window.location.replace("/Checkout/ConfirmarCompra/" + resposta);
            },
            error: function(erro) {
                console.log(erro)
                formsubmitted = false;
            }
        });

    });
</script>