@model MyyCommerce.Models.HomeViewModel;
@{
    Layout = "";
}
@using Microsoft.AspNetCore.Identity;
@using MyyCommerce.Domain;

@using System.Security.Claims;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyCommerce</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="~/assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">

    <!--right slidebar-->
    <link href="~/css/slidebars.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->

    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <link href="~/customStyle.css" rel="stylesheet" />

</head>

<body class="light-sidebar-nav">

    <section id="container">
        <!--header start-->
        <header class="header">
            <partial name="_Header" />
        </header>

        <partial name="_Navigation" />


        <section id="main-content" class="ClientContent">
            <div class="container HomeContainer">

                @if (Model.Produtos != null && Model.Categoria != null)
                {
                    @if (Model.Categoria == MyyCommerce.Utils.Enums.eCategoria.Camisa)
                    {
                        <div style="text-align: center;">
                            <h4>Camisas</h4>
                        </div>
                        <div class="row product-list">
                            @foreach (MyyCommerce.Domain.Produto produto in Model.Produtos.Where(x => x.Categoria == MyyCommerce.Utils.Enums.eCategoria.Camisa && x.Fotos.Count > 0))
                            {
                                <div class="col-md-3">
                                    <section class="card">
                                        <div class="pro-img-box vitrineimg">
                                            <div class="detalhesImgWrapper">
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image:url(@produto.Fotos[0].Path)" />
                                                </a>
                                            </div>
                                            <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="adtocart" style="left: 103px;">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>

                                        <div class="card-body text-center">
                                            <h4>
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="pro-title">
                                                    @produto.Nome
                                                </a>
                                            </h4>
                                            <p class="price">R$ @produto.Valor.ToString("n2")</p>
                                        </div>
                                    </section>
                                </div>
                            }
                        </div>
                    }

                    else if (Model.Categoria == MyyCommerce.Utils.Enums.eCategoria.Bermuda)
                    {
                        <div style="text-align: center;">
                            <h4>Bermudas</h4>
                        </div>
                        <div class="row product-list">
                            @foreach (MyyCommerce.Domain.Produto produto in Model.Produtos.Where(x => x.Categoria == MyyCommerce.Utils.Enums.eCategoria.Bermuda && x.Fotos.Count > 0))
                            {
                                <div class="col-md-3">
                                    <section class="card">
                                        <div class="pro-img-box vitrineimg">
                                            <div class="detalhesImgWrapper">
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image:url(@produto.Fotos[0].Path)" />
                                                </a>
                                            </div>
                                            <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="adtocart" style="left: 103px;">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>

                                        <div class="card-body text-center">
                                            <h4>
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="pro-title">
                                                    @produto.Nome
                                                </a>
                                            </h4>
                                            <p class="price">R$ @produto.Valor.ToString("n2")</p>
                                        </div>
                                    </section>
                                </div>
                            }
                        </div>
                    }
                    else if (Model.Categoria == MyyCommerce.Utils.Enums.eCategoria.Calcado)
                    {
                        <div style="text-align: center;">
                            <h4>Calçados</h4>
                        </div>
                        <div class="row product-list">
                            @foreach (MyyCommerce.Domain.Produto produto in Model.Produtos.Where(x => x.Categoria == MyyCommerce.Utils.Enums.eCategoria.Calcado && x.Fotos.Count > 0))
                            {
                                <div class="col-md-3">
                                    <section class="card">
                                        <div class="pro-img-box vitrineimg">
                                            <div class="detalhesImgWrapper">
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image:url(@produto.Fotos[0].Path)" />
                                                </a>
                                            </div>
                                            <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="adtocart" style="left: 103px;">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>

                                        <div class="card-body text-center">
                                            <h4>
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="pro-title">
                                                    @produto.Nome
                                                </a>
                                            </h4>
                                            <p class="price">R$ @produto.Valor.ToString("n2")</p>
                                        </div>
                                    </section>
                                </div>
                            }
                        </div>
                    }
                    else if (Model.Categoria == MyyCommerce.Utils.Enums.eCategoria.Acessorio)
                    {
                        <div style="text-align: center;">
                            <h4>Acessórios</h4>
                        </div>
                        <div class="row product-list">
                            @foreach (MyyCommerce.Domain.Produto produto in Model.Produtos.Where(x => x.Categoria == MyyCommerce.Utils.Enums.eCategoria.Acessorio && x.Fotos.Count > 0))
                            {
                                <div class="col-md-3">
                                    <section class="card">
                                        <div class="pro-img-box vitrineimg">
                                            <div class="detalhesImgWrapper">
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })">
                                                    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" style="background-image:url(@produto.Fotos[0].Path)" />
                                                </a>
                                            </div>
                                            <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="adtocart" style="left: 103px;">
                                                <i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>

                                        <div class="card-body text-center">
                                            <h4>
                                                <a href="@Url.Action("Detalhar", "Produto", new { id = produto.Id })" class="pro-title">
                                                    @produto.Nome
                                                </a>
                                            </h4>
                                            <p class="price">R$ @produto.Valor.ToString("n2")</p>
                                        </div>
                                    </section>
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    <div class="Novidades">
                        <div class="dividerCategory">
                            <h3>Novidades</h3>
                        </div>

                    </div>
                }

            </div>
        </section>
        <!--main content end-->
        <!-- Right Slidebar start -->
        <!-- Right Slidebar end -->
        <!--footer start-->
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->

    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script class="include" type="text/javascript" src="~/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script src="~/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="~/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/js/owl.carousel.js"></script>
    <script src="~/js/jquery.customSelect.min.js"></script>
    <script src="~/js/respond.min.js"></script>


    <!--right slidebar-->
    <script src="~/js/slidebars.min.js"></script>

    <!--common script for all pages-->
    <script src="~/js/common-scripts.js"></script>

    <!--script for this page-->
    <script src="~/js/sparkline-chart.js"></script>
    <script src="~/js/easy-pie-chart.js"></script>
    <script src="~/js/count.js"></script>



</body>
</html>
