@using Microsoft.AspNetCore.Identity
@using MyyCommerce.Domain
@using MyyCommerce.Models
@using System.Security.Claims;
@using MyyCommerce.Data;
@using Microsoft.EntityFrameworkCore;

@inject ApplicationDbContext db

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



@if (!SignInManager.IsSignedIn(User))
{
    <a href="/" class="logo"><h3>MyCommerce</h3></a>
}
else {
    <div class="sidebar-toggle-box">
        <i class="fa fa-bars"></i>
    </div>

    <a href="/" class="logo"><h3>MyCommerce</h3></a>

    <div class="top-nav ">
        <!--search & user info start-->

        <ul class="nav top-menu">
            @if (!User.IsInRole("Admin"))
            {
                <li class="DesktopMenu">
                    <a href="@Url.Action("Index", "Home", new { Categoria = MyyCommerce.Utils.Enums.eCategoria.Camisa, page = 1 })">
                        Camisas
                    </a>
                </li>
                <li class="DesktopMenu">
                    <a href="@Url.Action("Index", "Home", new { Categoria = MyyCommerce.Utils.Enums.eCategoria.Bermuda, page = 1 })">
                        Bermudas
                    </a>
                </li>
                <li class="DesktopMenu">
                    <a href="@Url.Action("Index", "Home", new { Categoria = MyyCommerce.Utils.Enums.eCategoria.Acessorio, page = 1 })">
                        Acessórios
                    </a>
                </li>
                <li class="DesktopMenu">
                    <a href="@Url.Action("Index", "Home", new { Categoria = MyyCommerce.Utils.Enums.eCategoria.Calcado, page = 1 })">
                        Calçados
                    </a>
                </li>

            }
            else
            {
                <li><a class="DesktopMenu @Html.IsSelected(controller: "Produto", action: "Index")" asp-area="" asp-controller="Produto" asp-action="Index">Produtos</a></li>
                <li><a class="DesktopMenu @Html.IsSelected(controller: "Pedido")" asp-area="" asp-controller="Pedido" asp-action="Index">Pedidos</a></li>
            }
        </ul>
        <ul class="nav pull-right top-menu">
            @if (!User.IsInRole("Admin"))
            {
                <li class="DesktopMenu">
                    <a href="@Url.Action("Index", "Checkout")">
                        <i class="fa fa-shopping-cart"></i> Carrinho
                    </a>
                </li>
            }
            <li class="MobileMenu">
                <a href="@Url.Action("Index", "Checkout")" style="font-size:1.2rem">
                    <i class="fa fa-shopping-cart"></i>
                </a>
            </li>

            @if (SignInManager.IsSignedIn(User))
            {
                @if (!User.IsInRole("Admin"))
                { 
                    <li class="DesktopMenu">
                        <a class="dropdown-item" href="@Url.Action("Index", "Pedido")"> Meus Pedidos </a>
                    </li>
                }   
                <li class="DesktopMenu" style="padding-top: 18px;">
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" id="logoutForm" method="post" class="navbar-right">
                        <div class="navbar-right">
                            <div class="user d-inline-block">
                                <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <span class="name">@UserManager.GetUserName(User)</span>
                                        <div class="dropdown-menu dropdown-menu-right mt-3">
                                            <a class="dropdown-item" href="javascript:{}" onclick="document.location.href = '/Identity/Account/Manage/ChangePassword'">Trocar Senha</a>
                                            <a class="dropdown-item" href="javascript:{}" onclick="document.getElementById('logoutForm').submit();">Sair</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-area="Identity" asp-page="/Account/Login">Login</a>
                                    }
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            }
            else
            {
                <li class="DesktopMenu">
                    <a href="~/Identity/Account/Login">
                        Login
                    </a>
                </li>
            }
        </ul>
    </div>
}